<div class="inner cover">
  <h1 class="cover-heading">Welcome</h1>
  <p class="lead">"Persistence is the key. Choose an idea. Make this idea your life. Think about it, dream about it, live thinking about it. Let brain, muscles, nerves, all parts of your body be filled with that idea. This is the way to success " <em>- Swami Vivekananda, Hindu thinker</em>
  </p>
  <p class="lead">
    <%= link_to "About-Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>

